page-quotedetail {
 .ion-card{ border: 0 !important;
  box-shadow: 0 !important;
  border: none !important;
  border-style: none !important;
 // border-top: 3px solid colorofyourchosing
}
}

.masters {
   // background-color: #F4F4F4;

 
  }




